* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Archivo', Arial, sans-serif;
}

footer {
    text-align: center;
    padding: 1rem;
    color: #777;
    font-size: 0.9rem;
}