body {
    display: block;
}
main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.container {
    background: #fff;
    color: #000;
    max-width: 800px;
    margin: 0 auto;
    margin: 40px;
    border: 1px solid #ddd;
    padding: 40px;
}

header {
    text-align: center;
    margin-bottom: 50px;
}

header img {
    width: 70px;
    height: auto;
}

h1 {
    text-align: center;
    font-size: 18px;
    text-decoration: underline;
    margin-bottom: 40px;
}

.container>p {
    text-align: justify;
    line-height: 1.6;
    font-size: 16px;
    margin: 20px 0;
}

.assinatura {
    text-align: center;
    margin-top: 80px;
}

.assinatura hr {
    width: 60%;
    margin: 10px auto;
    border: none;
    border-top: 1px solid #000;
}

.botao-imprimir {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    margin-top: 15px;
}

.botao-imprimir button {
    width: 200px;
    padding: 12px 0;
    border-radius: 10px;
    color: white;
    font-weight: 600;
    text-transform: uppercase;
    border: none;
}

.btn-imprimir {
    background: var(--azul-claro);
    /* verde suave */
}

.btn-imprimir:hover {
    background: var(--azul-claro);
}