body {
  font-family: "Archivo", sans-serif;
  background: #f4f6f9;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.card {
margin: 25px;
    background: #fff;
    padding: 30px 40px;
    border-radius: 12px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    width: 50%;
}

h2 {
  text-align: center;
  color: #2d6bb2;
  margin-bottom: 20px;
}

label {
  display: block;
  margin-top: 10px;
  font-weight: bold;
}

input, select, textarea {
  width: 100%;
  padding: 10px;
  margin-top: 6px;
  border: 1px solid #ccc;
  border-radius: 8px;
  font-size: 14px;
}

textarea {
  resize: vertical;
}

.botoes {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
  gap: 10px;
}

button {
  flex: 1;
  padding: 10px;
  border-radius: 8px;
  font-weight: bold;
  border: none;
  cursor: pointer;
  transition: 0.3s;
}

.btn-salvar {
  background: #2d6bb2;
  color: white;
}

.btn-salvar:hover {
  background: #1d4e80;
}

.btn-voltar {
  background: #ccc;
  color: #222;
}

.btn-voltar:hover {
  background: #aaa;
}